@media(max-width: 500px) {

  /* btn icon next image */
  .main-banner button i {
    font-size: 1.5rem;
  }

  /* all endows page */
  #all-endows .header-endow {
    font-size: 1rem;
  }

  #all-endows .header-endow+p,
  #all-endows .header-endow+p+p {
    font-size: 0.9rem;
    margin: 0 2rem;
  }

  /* news details page 1 */
  #hot-news .news .news-left .news-text p {
    display: none;
  }

  #hot-news .news .news-left h4 {
    color: #fff;
    top: -50px;
    left: 35px;
    position: relative;
    font-size: 1.2rem;
  }

  /* news */
  #hot-news .news {
    flex-direction: column;
  }

  .news .news-left img {
    width: 100%;
    margin-left: 30px;
    margin-bottom: 0.5rem;
  }

  #hot-news .news .news-left {
    width: 100%;
    line-height: 1.2;

  }

  .news .news-right {
    width: 100%;
    margin-left: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }

  .news .news-right .item {
    margin: 1rem;
  }

  .news .news-right .item .item-link .item-link-title {
    margin-right: 0;
  }

  /* sample news page */
  .news-details-1 .container .news .news-left {
    margin-left: 2rem;
  }

  .news-details-1 .container .news .news-left img {
    width: 300px;
    margin-left: 0rem;
    margin-top: 1rem;
  }

  .news-details-1 .container .news .news-left p,
  .news-details-1 .container .news .news-left h3 {
    width: 85vw;
    padding: 0;
    line-height: 1.6;
  }

  .news-details-1 .container .news .text-left {
    margin-right: 0;
  }

  .news-details-1 .container .news .text-left h5.item-link-title {
    padding-right: 0;
    margin-right: 0;
  }

  .news-details-1 .container .news .news-right .item {
    width: 40vw;
  }

  .news-details-1 .container .news .news-right .item img {
    width: 80%;
  }

  .news-details-1 .container .news .news-right {
    margin-left: 0;
  }

  /* search result */
  #sub-header .container {
    width: 100%;
  }

  #filter-hotel .container .group-choices .search-box-filter input {
    display: none;
  }

  #list-hotels-result .container .sub-search-filter ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #list-hotels-result main .hotel-items .item .hotel-item-content {
    flex-direction: column;
    margin-left: 1rem;
  }

  #list-hotels-result main .hotel-items .item .list-extra-img {
    display: none;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-content .hotel-item-img img {
    width: fit-content;
    margin-left: 0.5rem;
  }

  /* search results page */
  #filter-hotel .group-choices ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    margin-left: 2.5rem;
  }

  #filter-hotel .group-choices ul li {
    font-size: 0.8rem;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-price .item-price {
    display: flex;
    margin-left: 0.5rem;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-price .item-price {
    margin-top: 0;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-price .item-price h5,
  #list-hotels-result main .hotel-items .item .hotel-item-price .item-price>p {
    display: none;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-price .hotel-item-evaluate {
    display: none;
  }

  #list-hotels-result aside {
    width: 100%;
    border-right: none;
  }

  #list-hotels-result #aside-ads {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* payment step 3 */
  #payment main.step-3 .success-notification {
    margin-top: 0;
    margin-left: 0.1rem;
  }

  #payment main.step-3 .success-message {
    font-size: 1.1rem;
  }

  #payment main.step-3 .success-notification p {
    padding-left: 1rem;
  }

  /* general */
  h2,
  h3,
  h4 {
    font-size: 1.4rem;
  }

  .main-banner img {
    height: 30vw;
  }

  #show-case .form-find form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5rem;
  }

  #show-case .form-find form input[type="submit"] {
    display: block;
    margin: auto;
  }

  /* deals sections */
  #combo-deals .combo-deals-title,
  #other-locations .other-locations-title {
    font-size: 1.2rem;
  }

  #combo-deals .cards {
    grid-template-columns: 1fr;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
  }

  #combo-deals .cards .card:nth-child(3) {
    display: block;
  }

  /* others location section */

  .locations {
    grid-template-columns: 1fr;
  }

  .artcicles .article:first-child {
    left: 0;
  }

  .artcicles .article .article-link img {
    width: 300px;
  }

  .artcicles .article {
    margin-left: 10px;
  }

  .artcicles .article:first-child .article-link img {
    width: 310px;
  }

  .artcicles {
    grid-template-columns: repeat(1, 1fr);
  }

  .artcicles .article:first-child {
    grid-column: 1fr;
    left: 0px;
  }

  .article:first-child .article-inner {
    font-size: 0.8rem;
    color: #fff;
    bottom: 50px;
    width: 60%;
    left: 25px;
  }

  .artcicles .article h4,
  .article:first-child .article-inner h3 {
    font-size: 0.9rem;
    padding: 10px 0;
    text-transform: capitalize;
  }

  .other-locations-title,
  .influence-title {
    font-size: 1.3rem;
  }

  /* locations hotel */
  .locations {
    margin-right: 40px;
  }

  #sub-header .container .sub-nav li {
    margin-left: 10px;
    display: none;
  }

  #sub-header .container .sub-nav li:last-child,
  #sub-header .container .sub-nav li:nth-child(4) {
    display: inline;
  }

  #sign-up .container .text-info h4 {
    font-size: 1.2rem;
  }

  #footer .group-items {
    width: 90%;
    grid-gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

  #hot-hotel .hotel-info {
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
  }

  #hot-hotel .hotel-info .specific-info {
    width: 100%;
  }

  #hot-hotel .hotel-info .rank-hotel-info .rating {
    margin-top: 20px;
  }

  #hot-hotel .hotel-image button {
    display: none;
  }

  /* room type */
  #room-types .room .room-name {
    font-size: 1.2rem;

  }

  #room-types .room .type {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
  }

  #room-types .room {
    border-bottom: 1px #111 solid;
  }

  #room-types .room:last-child {
    border-bottom: none;
  }

  #experiences .box {
    flex-direction: column;
  }

  #experiences .box .description-banner {
    margin: 10px auto;
    width: 80%;
  }

  #experiences .box .description-details h4 {
    font-size: 1rem;
  }

  #experiences .box .description-details a {
    margin-left: 40%;
  }

  #experiences .box .description-details .text-description {
    font-size: 0.9rem;
  }

  #experiences .facilities {
    flex-direction: column;
  }

  #experiences .facilities .facilities-header p {
    text-align: center;
  }

  #experiences .facilities .facilities-details {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-left: 10px;
    margin-top: 10px;
  }

  #experiences .neccessary-info {
    flex-direction: column;
  }

  #experiences .neccessary-info .neccessary-info-header {
    text-align: center;
    margin-bottom: 10px;
  }

  #experiences .comments {
    padding: 0;
  }

  #experiences .comments .comment {
    display: grid;
    grid-template-areas:
      "info-user"
      "text-user";
  }

  #experiences .comments .comment .text-user {
    margin-left: 0;
  }

  #experiences .comments .comment .info-user {
    width: 50%;
    margin: 10px auto;
  }

  #experiences .comments .next-comment {
    margin: auto;
    width: 50%;
  }

  #other-hotels .container .cards {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  #other-hotels .container .cards .card .hotel-price {
    position: absolute;
    top: 0;
    right: 10%;
  }

  #sign-up .container form input[type="email"] {
    width: 200px;
    padding: 5px 22px;
  }

  #sign-up .container form input[type="submit"] {
    width: 100px;
  }

  #all-endows .container .endow-list-items {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
  }

  #sign-up .container .text-info h4 {
    font-size: 1.2rem;
  }

  #endow-details .container {
    width: 90%;
  }

  #endow-details .container .endow-code-box {
    width: 330px;
  }

  /* destination hotel */
  section.hotel-destination .hotel-destination-details a img {
    width: 200px;
  }

  section.hotel-destination .hotel-destination-details {
    padding: 30px 0;

  }

  /* golden charm hotel album picture section */
  .hotel-pictures .hotel-pictures-sort {
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 50px;
  }

  section#hotel-features .hotel-album div img {
    width: 120px;
  }

  section#hotel-features .hotel-album {
    grid-template-columns: repeat(3, 1fr);
  }


  /* sub  new at bottom */
  #sub-news .container {
    flex-direction: column;
    width: 90%;
  }

  #sub-news .news-items {
    flex-direction: column;
  }

  #sub-news .news-items .item {
    margin-top: 30px;
  }

  #sub-news .news-items .item img {
    width: 300px;
  }

  /* payment step-1 */
  .steps .thin-bar {
    width: 80px;
    height: 3px;
  }

  div.steps {
    padding-left: 70px;
  }

  .steps .step-number {
    padding: 5px 10px;
  }

  .steps .step-number:last-child {
    padding: 4px 6px;
    margin-left: -5px;
  }

  .steps .step-number:first-child {
    margin-right: -5px;
  }

  /* payment 1 */
  #payment .container {
    flex-direction: column;
  }

  #payment aside .sales-price div {
    flex-direction: column;
  }

  #payment .container main {
    padding: 1rem 0 1rem 2rem;
    background-color: rgba(17, 17, 17, 0);
    margin-bottom: 40px;
  }

  #payment .container main.step-info {
    width: 80%;
  }

  #payment .container aside.hotel-info-choosed {
    width: 80%;
  }

  #payment aside .sales-price div p:last-child {
    padding-left: 0;
  }

  #payment .what-you-need .text-terms {
    padding-right: 0;
  }

  /* payment 2 */
  #payment .container main.step-2 {
    margin-left: 0.5rem;
  }

  #payment main.step-2 .pay-header {
    margin-right: 0;
    font-size: 1.3rem;
  }

  #payment main.step-2 .pay .group-bank img {
    width: 85px;
  }

  #payment main.step-2 .pay-btn {
    margin-left: 0;
  }

  #payment main.step-2 .pay .group-bank {
    grid-template-columns: repeat(3, 1fr);
  }

  /* footer */
  #footer .group-items .item:last-child {
    grid-column: 1/ span 2;
  }

}

/* ip 6,7,8  */
@media(max-width : 400px) {

  /* social icon details news */
  .news-details-1 .container .news .news-left .social-share a {
    margin-top: 0.4rem;
    display: inline-block;
  }

  .news-details-1 .container .news .news-left .news-1-social-share-top {
    display: none;
  }

  /* news page */
  #hot-news .news .news-left {
    width: 70%;
    line-height: 1.6;
  }

  .news .news-left .news-text {
    width: 100%;
  }

  .news .news-left .news-text h4 {
    margin-left: 0.5rem;
  }

  .news .news-right {
    margin-top: 5rem;
  }

  #sub-news .container {
    width: 100%;
  }

  #sub-news img {
    width: 200px;
    display: none;
  }

  /* room types */
  #room-types .room .type {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
  }

  #all-endows .container {
    width: 100%;
  }

  #all-endows .container .endow-list-items .item a img {
    width: 240px;
  }

  #all-endows .container .endow-list-items .item {
    padding-bottom: 2rem;
    border-bottom: 1px #222 solid;
  }

  #combo-deals {
    width: 100vw;
  }

  #sign-up .container form input[type="email"] {
    width: 180px;
  }

  #endow-details .container {
    width: 90%;
  }

  #endow-details .container .endow-code-box {
    width: 300px;
  }

  /* charm hotel */
  /* hotel destination - charm */
  section.hotel-destination .hotel-destination-details .hotel-infos {
    padding-left: 20px;
  }

  section.hotel-destination .hotel-destination-details {
    padding: 30px 0;
  }

  section#hotel-features .hotel-album div img {
    width: 120px;
  }

  section#hotel-features .hotel-album {

    grid-template-columns: repeat(3, 1fr);
  }

  /* payment */
  #payment .container {
    flex-direction: column;
  }

  #payment aside {
    margin-top: 30px;
    margin-left: 0;
  }

  .steps .thin-bar {
    width: 50px;
    height: 3px;
  }

  #payment aside img {
    width: 300px;
  }

  .step-3 {
    padding: 0 0 0 2rem;
    margin: 1rem;
  }

  .steps .step-number {
    padding: 5px 10px;
  }

  #payment .steps .step-number:last-child {
    padding: 4px 6px;
  }

  #payment .container .step-info .form-group-inline {
    flex-direction: column;
  }

  #payment .what-you-need .text-terms {
    padding-right: 0px;
  }

  #payment .container input,
  #payment .container textarea,
  #payment .container select,
  #payment .container main .form-group-inline .form-inline-control input {
    width: 300px;
  }

  #payment .what-you-need .btn {
    margin-left: 80px;
  }

  #footer .group-items .item:last-child {
    grid-column: 1/ span 2;
  }
}

/* ip5 */
@media(max-width : 330px) {

  /* comment part - search page */
  #experiences .comments div.text-medium {
    font-size: 1rem;
  }

  #experiences .comments div.text-medium+p {
    font-size: 0.9rem;
  }

  /* experience section */
  #experiences .box .description-banner img {
    width: 240px;
    border-radius: 5px;
    opacity: 0.8;
  }

  /* map to hotel section */
  #other-hotels .container .cards .card img {
    width: 230px;
  }

  /* hotel result page */
  #list-hotels-result main .hotel-items .item .hotel-item-content .hotel-item-img .header-img img {
    width: 240px;
  }

  /* step bar */
  .step-3 {
    padding: 0 0 0 2rem;
    margin: 0.8rem 2rem;
  }

  /* btn icon next image */
  .main-banner button i {
    font-size: 1.2rem;
  }

  /* combo deals */
  #combo-deals .cards img {
    width: 270px;
  }

  #combo-deals .cards .card h5 {
    font-size: 0.8rem;
  }

  /* endows full */
  #all-endows .container .endow-list-items {
    margin-left: 0px;
  }

  #all-endows .header-endow {
    font-size: 1rem;
  }

  #all-endows .header-endow+p,
  #all-endows .header-endow+p+p {
    font-size: 0.9rem;
    margin: 0 2rem;
  }

  /* payment step 3 */
  #payment main.step-3 {
    margin: 0.5rem 0px;
  }

  #payment .container aside {
    margin-left: 20px;
  }

  #payment main.step-3 .success-notification {
    margin-top: 1%;
    margin-left: 1.6rem;
  }

  #payment main.step-3 .success-message {
    font-size: 1.1rem;
  }

  #payment main.step-3 .success-notification p {
    padding-left: 1rem;
  }

  .artcicles .article .article-link img {
    width: 250px;
  }

  /* destination hotel */

  section.hotel-destination .hotel-destination-details a img {
    width: 200px;
  }

  section.hotel-destination .hotel-destination-details {
    padding: 30px 0;

  }


  /* golden charm hotel album picture section */
  .hotel-pictures .hotel-pictures-sort {
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 50px;
  }

  .hotel-pictures .hotel-album {
    display: none;
  }


  .artcicles .article:first-child .article-link img {
    width: 250px;
  }

  #endow-details .container {
    width: 90%;
  }

  #endow-details .container .endow-code-box {
    width: 280px;
  }

  /* charm hotel */
  /* destination hotel */


  section.hotel-destination .container {
    margin-right: 25px;
    padding-bottom: 10px;
  }

  section#hotel-features .hotel-album div img {
    width: 100px;
  }

  /* payment 1*/
  #payment .container {
    flex-direction: column;
  }

  #payment .container main.step-info {
    padding-left: 0;
    padding-right: 0;
  }

  #payment .container aside input {
    width: 250px;
  }

  #payment .steps {

    margin: 20px auto;
  }

  #payment aside {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }

  .steps .thin-bar {
    width: 10px;
    height: 3px;
  }

  #payment aside img {
    width: 200px;
  }

  div.steps {
    padding-left: 25px;
  }

  .steps .step-number {
    padding: 5px 10px;
  }

  .steps .step-number:last-child {
    padding: 4px 6px;
  }

  #payment .container .step-info .form-group-inline {
    flex-direction: column;
  }

  #payment .container input,
  #payment .container main .form-group-inline .form-inline-control input,
  #payment .container select {
    width: 200px;
  }

  #payment .what-you-need .text-terms {
    padding-right: 0px;
  }

  #payment .container input #payment .what-you-need .btn {
    margin-left: 60px;
  }

  #footer .group-items .item:last-child {
    grid-column: 1/ span 2;
  }

  .locations .location img {
    width: 270px;
  }

  .artcicles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

  }

  .artcicles .article:first-child {
    grid-column: 1fr;
  }

  #sign-up .container form input[type="submit"] {
    margin-top: 10px;
    width: 180px;
    display: block;
  }

  #list-hotels-result main .hotel-items .item .hotel-item-content .hotel-item-img img {
    margin: 0;

  }

  #list-hotels-result #aside-ads {
    width: 100%;
    padding-left: 10px;
  }

  #list-hotels-result .container aside .items .item img {
    width: 120px;
    margin-right: 0px;
    height: 180px;
  }

  /* news 1 details */
  .news-details-1 .container .news .news-left img {
    width: 250px;
  }

  .news-details-1 .container .news .news-right {
    margin-top: 0;
  }

  .news-details-1 .container .news .news-left h3.news-1-title {
    font-size: 1rem;
  }

  .news-details-1 .container .news .news-left p {
    font-size: 0.9rem;
    line-height: 1.6;
  }

  #hot-news .news .news-left h4 {
    color: #fff;
    top: -50px;
    left: 35px;
    position: relative;
    font-size: 1rem;
  }
}